@using ProvaSP.Model.Entidades
@using ProvaSP.Data
@using ProvaSP.Web.ViewModel
@model RelatorioAcompanhamentoEscola

@{
    ViewBag.Title = "Relatório de Acompanhamento";
    Layout = "~/Views/Shared/_LayoutRelatorioAcompanhamento.cshtml";
}

<h2>Nível SME por DRE</h2>

@{
    foreach (var itemChave in Model.IndicadoresAgrupadosChave)
    {
        <article style="padding-top:30px">
        <a href="RelatorioAcompanhamentoNivelDRE_PorEscola?uad_codigo=@itemChave.Titulo&usu_id=@ViewBag.Usuario.usu_login ">
            <b>@Html.Raw(EnumHelper<DRE>.GetEnumDescription(itemChave.Titulo))</b>
            <br />
            (Clique aqui para ver mais detalhes)
        </a>

        <div class="container container-table">
            <div class="text-center col-md-6 col-md-offset-0">
                <table class="table table-hover">
                    <tbody>
                        @{
                            foreach (var item in itemChave.IndicadoresEscola)
                            {
                                <tr>
                                    <td class="text-left">
                                        @Html.Raw(EnumHelper<Atributo>.GetEnumDescription(item.Atributo))
                                    </td>
                                    <td style="text-align: right">
                                        @item.Valor
                                    </td>

                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

        @if (itemChave.GridIndicadoresEscola.Any())
        {
            <div class="container container-table">
                <div class="text-center col-md-6 col-md-offset-0">
                    <table class="table table-striped">
                        <caption style="font-size: 10pt">Questionários</caption>
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Perfil</th>
                                <th scope="col">Respondidos</th>
                                <th scope="col">Total esperado</th>
                                <th scope="col">% Respondidos</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var item in itemChave.GridIndicadoresEscola)
                                {
                                    <tr>
                                        <td class="text-left">@item.DescricaoRespondente</td>
                                        <td class="text-right">@item.QuantidadePreenchido</td>
                                        <td class="text-right">@(item.TotalEsperado <= 0 ? string.Empty : Convert.ToString(item.TotalEsperado))</td>
                                        <td class="text-right">@(item.TotalEsperado <= 0 ? string.Empty : String.Format("{0}%", item.PercentualPreenchido))</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
        </article>
    }
}

<br />
<button style="width:50%; font-size:17pt;" class="btn btn-primary"
        onclick="window.location.href='RelatorioAcompanhamentoNivelSME?usu_id=@ViewBag.Usuario.usu_login'">
    Visualizar Nível SME
</button>