@using ProvaSP.Web.ViewModel
@using ProvaSP.Data
@using System.Linq
@using ProvaSP.Model.Entidades
@model RelatorioAcompanhamentoEscola

@{
    ViewBag.Title = "Relatório de Acompanhamento";
    Layout = "~/Views/Shared/_LayoutRelatorioAcompanhamento.cshtml";
}

<h2>@ViewBag.Escola.esc_nome</h2>

<table cellpadding="5">

    @{
        foreach (var item in Model.IndicadoresEscola)
        {

            <tr>

                <td>
                    @Html.Raw(EnumHelper<DRE>.GetEnumDescription(item.Titulo))
                </td>
                <td>
                    @Html.Raw(EnumHelper<Atributo>.GetEnumDescription(item.Atributo))
                </td>
                <td>
                    @item.Valor
                </td>

            </tr>
        }
    }
</table>

<h2>Turmas</h2>

<table cellpadding="5">
    @{
        foreach (var item in Model.IndicadoresTurma)
        {

            <tr style="@(item.Valor == "SIM" ? "color:green" : "color:red")">

                <td>
                    @item.Titulo
                </td>
                <td>
                    @Html.Raw(EnumHelper<Atributo>.GetEnumDescription(item.Atributo))
                </td>
                <td>
                    @item.Valor
                </td>

            </tr>
        }
    }
</table>


<h2>Docentes</h2>

<table cellpadding="5">

    @{
        foreach (var item in Model.IndicadoresPessoa)
        {
            List<Grupo> grupos = ViewBag.Usuario.grupos;
            if (!(item.Atributo.Contains("Diretor") && grupos.Any(p => p.gru_nome.Contains("Coordenador Pedagógico"))))
            {
                <tr style="@(item.Valor == "SIM" ? "color:green" : "color:red")">

                    <td>
                        @item.Titulo
                    </td>
                    <td>
                        @Html.Raw(EnumHelper<Atributo>.GetEnumDescription(item.Atributo))
                    </td>
                    <td>
                        @item.Valor
                    </td>

                </tr>
            }
        }
    }
</table>

@{
    List<Grupo> gruposSE = ViewBag.Usuario.grupos;
    if (ViewBag.Usuario.AcessoNivelSME || gruposSE.Any(p => p.gru_nome.Contains("Supervisão Escolar")))
    {
        <br />
        <button style="width:50%; font-size:17pt;" onclick="window.location.href='RelatorioAcompanhamentoNivelDRE_PorEscola?usu_id=@ViewBag.Usuario.usu_login&uad_codigo=@ViewBag.Escola.uad_codigo'">
            Visualizar DRE <br /> por Escola 
        </button>
    }
}